<div class="header">
    <div class="header-inner">
        <div class="brand brand-home inline pull-left">
            <img src="assets/img/jobsy_logo_black.png" alt="logo" data-src="assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" width="73"><small>Control Center</small>
        </div>
        <div class="inline pull-right middle">
            <!-- START buttons overlay -->
            <div class="dropdown-default theeee">
                <div class="visible-lg visible-md m-t-10" id="btnGroupVerticalDrop1" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                    <div class="pull-left p-r-10 p-t-10 fs-16 font-heading" style="cursor:pointer;">
                        <span class="semi-bold">fhjsdkhfjdkshfcjk</span>
                    </div>
                </div>
            </div>
            <!-- END buttons overlay -->
        </div>
    </div>
</div>