body{color: #777}
.email-wrapper .email-opened {margin-left: 0px;}
.email-wrapper .email-opened .email-content-wrapper .actions-wrapper .btn-complete{position: absolute;top:0;right: 0;margin-top: 7px;margin-right: 21px;}
body.fixed-header .header .btn-complete{width: 142px;}
.modal.fade.slide-right .modal-dialog{width: 40%;}
.modal.fade.slide-right .modal-dialog-userdashboard{width: 55%;}
.post_job{font-weight: bold;cursor: pointer;padding-top: 7px;margin-right: 5px;}
.email-wrapper .email-list{width: 35%}

.notification-panel .notification-body .notification-item .heading.open .thumbnail-wrapper i{-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-180deg);}

.modal-dialog-userdashboard .panel.panel-transparent .panel-body{padding-left: 70px;padding-right: 70px;padding-top: 35px;padding-bottom: 50px;}

.select2-drop-active{z-index: 10000!important}
.signIn-panel,.signUp-panel,.forgetPass-panel{display: none;}

.notification-panel{padding-top: 10px;}
.icon-set.globe-fill{top:4px;}

textarea{resize:none;}
.img-uploader-preview{width: 130px; height: auto;border:3px solid #fff;display: none;}
.img-uploader-preview img{width: 100%; height: auto}
#target-img{display: none;}


.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .thumbnail-wrapper{width: 110px;}
.email-wrapper .email-opened .email-content-wrapper .email-content{width: 700px;padding-top: 114px;}
.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header-box{margin-bottom: 45px;}
.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-salary{text-align: right;}
.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-desc{width: 20%;padding-right:0}
.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header{height: 120px}
.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .sender{margin-left: 15px}
.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .sender .name{font-size: 11px;line-height: 0px;position: relative;top: 9px;}
.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .sender .datetime{color: #000; opacity: 1}

.company_overview p,
.job_scope p,
.requirements p{line-height: 30px;}
.note-editable{height: 200px;}

.summernote-wrapper .note-toolbar .note-style,
.summernote-wrapper .note-toolbar .note-fontname,
.summernote-wrapper .note-toolbar .note-color,
.summernote-wrapper .note-toolbar .note-height,
.summernote-wrapper .note-toolbar .note-table,
.summernote-wrapper .note-toolbar .note-view button[data-event="fullscreen"],
.summernote-wrapper .note-toolbar .note-help,
.summernote-wrapper .note-toolbar .note-insert button[data-event="showLinkDialog"],
.summernote-wrapper .note-toolbar .note-insert button[data-event="showImageDialog"],
.summernote-wrapper .note-toolbar .note-insert button[data-event="showVideoDialog"],
.summernote-wrapper .note-toolbar .note-para button[data-original-title="Paragraph"],
.summernote-wrapper .note-toolbar .note-insert button[data-event="insertHorizontalRule"],
.summernote-wrapper .note-toolbar .note-font button[data-event="subscript"],
.summernote-wrapper .note-toolbar .note-font button[data-event="superscript"],
.summernote-wrapper .note-toolbar .note-font button[data-event="strikethrough"],
.summernote-wrapper .note-toolbar .note-font button[data-event="removeFormat"]
{display: none;}

.responsive-search{color: #626262;font-size: 15px;width:98%;display: none;margin-bottom: 11px;border: 1px solid rgba(0,0,0,0.07);padding: 5px;padding-left: 10px;margin-top: 9px;}

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}



.table.table-hover tbody tr#applyDetail:hover td {
  background: #daeffd !important;
}

.table.table-hover tbody tr.row-details td table#appTable tbody tr:hover {
  background: #daeffd !important;
}

.table.table-condensed.table-detailed > tbody > tr.shown + tr > td{
    background: rgb(255,255,255)!important;
    cursor: default;
}
.table.table-condensed.table-detailed > tbody > tr.shown + tr > td .table-inline tbody tr{cursor: pointer;}

#message .pgn-wrapper{margin-top: 60px;}
.password2{display: none;}

.job_scope ul,.requirements ul,.job_scope ol,.requirements ol{padding-left: 14px;}
.company_overview,.job_scope, .requirements,.job_scope li, .requirements li{line-height: 29px}
#typed-cursor {
    font-size: 19px;
    color: #2E3D48;
    font-weight: 200;
}

#typed-cursor.blinking {
  -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,to {
    color: transparent;
}
 50% {
    color: black;
 }

}

@-moz-keyframes blink {
    from,to {
    color: transparent;
}
 50% {
   color: black;
 }

}

@-webkit-keyframes "blink" {
    from,to {
    color: transparent;
}
 50% {
   color: black;
 }

}

@-ms-keyframes "blink" {
    from,to {
    color: transparent;
}
 50% {
   color: black;
 }

}

@-o-keyframes "blink" {
    from,to {
    color: transparent;
}
 50% {
   color: black;
 }
}

.close{  padding: 10px!important;}

.fs-14 {
  font-size: 27px !important;
}


.nav-pills > li.active > a{ background-color: #FAFAFA !important;}
.nav-tabs-linetriangle ~ .tab-content{background: #fafafa!important}

@media(max-width: 768px){
    .salary-type{margin-top: 10px;}
    .modal.fade.slide-right .modal-dialog{width: auto;}

    .modal-dialog-userdashboard .panel.panel-transparent .panel-body{padding: 15px;}
 
    .notification-panel{width: 100%!important;}
    .header .search-link input{width: 90%!important;}
    .email-wrapper .email-opened .email-content-wrapper .email-content{width: 100%;}
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header-box{margin-bottom: 20px;}
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .sender{margin-left: 0!important;}
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .thumbnail-wrapper{width: 100%!important}
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .middle{width: 100%!important}
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-desc{width: auto;}
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-salary{margin-top: 40px;margin-bottom: 15px;}
    .company_overview p,.job_scope p,.requirements p{line-height: 20px;}
    .job-title-hover{display: none;}
    .email-wrapper .email-list .item .datetime{opacity: 1!important}

}


@media(max-width: 991px){
    .responsive-search{display: block;}
    .email-wrapper{z-index: 1}
    .email-wrapper .email-opened .email-content-wrapper .actions-wrapper .btn-success{top: 0px;}
    .email-wrapper .email-list{width: 100%;}
    .header .notification-list {display: inline-block!important;border:0;position: absolute;top: 11px;right: -30px;}
    .icon-set.globe-fill{z-index: 1}

    .post-job-bar{top: 30%;}

    .notification-toggle{left: -300px!important;}
    .notification-panel{width: 400px;}

    .email-wrapper .email-opened .email-content-wrapper{height: 100%;}
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-salary{text-align: left;}
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .thumbnail-wrapper{left: 0}
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .sender{margin-left: 20px;}

    #btnGroupVerticalDrop1{display: block!important;}
    .user-name{display: none;}
    .theeee{display: none;}
    .dropdown-user{margin-top: 6px!important;right: -17px!important;}
    .list-view-fake-header,.list-view-group-header{display: none;}
    .list-view-group-container{padding: 0}
    .email-wrapper .email-list .email-refresh{display: none;}

    .page-container{position: initial;z-index: initial}

}

@media(max-width: 1200px){
    .modal.fade.slide-right .modal-dialog-userdashboard{width: 100%}
    .email-wrapper .email-opened .email-content-wrapper .email-content{width: 100%;}
}


.list-view-group-container li[data=active]{border-right: 4px solid #48b0f7}



/* Accordion style */
.cbp-ntaccordion {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cbp-ntaccordion li{border-bottom: 1px solid #ddd;padding-top: 0px;}
.cbp-ntaccordion li h5{display: inline-block;width: 33%;}
.cbp-ntaccordion li h5 a{color:#8B8585;padding-right: 35px;}

.cbp-ntsubaccordion {
    list-style: none;
}

.cbp-ntaccordion .cbp-nttrigger {
    cursor: pointer;
} 

.cbp-ntaccordion h3 {
    margin: 0 0 0.3em;
    padding: 1em 0 0.5em;
    font-size: 1.75em;
    font-weight: 300;
}

.cbp-ntaccordion h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    padding: 0.5em 0 0.5em;
    margin: 0 0 0.5em;
}

.cbp-ntaccordion h5 {
    font-size: 1.2em;
    padding: 0.5em 0 0.5em;
    margin: 0 0 0.5em;
}

.cbp-ntaccordion .cbp-ntcontent p {
    color: #888;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
    /*padding: 0.2em 0 1.5em;*/
    margin: 0;
}

/* Arrow icons */
.cbp-ntaccordion > li > .cbp-nttrigger:before,
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
    font-family: 'icomoon';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #ddd;
    margin-right: 0.5em;
    -webkit-font-smoothing: antialiased;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
    font-size: 75%;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
    content: "\36";
}
.cbp-ntaccordion > li > .cbp-nttrigger:hover:before {
    content: "\35";
    color: inherit;
}
.cbp-ntaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > li > .cbp-nttrigger:before {
    content: "\34";
    color: inherit;
}

.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
    content: "\32";
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:hover:before {
    content: "\33";
    color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > li > .cbp-nttrigger:before {
    content: "\31";
    color: inherit;
}

/* Initial height is zero */
.cbp-ntaccordion .cbp-ntcontent {
    height: 0;
    overflow: hidden;
}

/* When open, set height to auto */
.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
    height: auto;
      margin-bottom: 45px;
}

/* Example for media query */
@media screen and (max-width: 32em) { 

    .cbp-ntaccordion {
        font-size: 70%;
    }

}

