@font-face {
    font-family: avenir_book;
    src: url(../fonts/avenir/Avenir-Book.otf);
}

@font-face {
    font-family: avenir_medium;
    src: url(../fonts/avenir/Avenir-Medium.otf);
}

body {
    color: #777;
}

p {
    font-size: 17px;
    font-family: avenir_book;
    line-height: 2;
    color: #4a4a4a;
}

span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: avenir_book!important;
}

.email-wrapper .email-opened {
    margin-left: 0px;
}

.email-wrapper .email-opened .email-content-wrapper .actions-wrapper {
    display: none;
}

.email-wrapper .email-opened .email-content-wrapper .actions-wrapper .btn-complete {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 7px;
    margin-right: 21px;
}

body.menu-behind .header .brand-home {
    width: 110px;
}

body.fixed-header .header .btn-complete {
    width: 142px;
}

.header .search-link-home {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 3px 11px;
}


.header .search-link-dash {
    margin-top: 4px
}

.modal.fade.slide-right .modal-dialog {
    width: 40%;
}

.modal.fade.slide-right .modal-dialog.modal-dialog-custom {
    width: 100%;
}

.modal.fade.slide-right .modal-dialog .modal-content.bg-modal-content {
    background: #f9f9fb;
}

.post_job {
    font-weight: bold;
    cursor: pointer;
    padding-top: 7px;
    margin-right: 5px;
}

.email-wrapper .email-list {
    width: 35%;
    height: 100%;
}


.notification-panel .notification-body .notification-item .heading.open .thumbnail-wrapper i {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-180deg);
}

.modal-dialog-userdashboard .panel.panel-transparent .panel-body.panel-body-custom {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    padding-bottom: 50px;
}

.modal-dialog-userdashboard .panel.panel-transparent .panel-body {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    padding-bottom: 50px;
}

.signIn-panel,
.signUp-panel,
.forgetPass-panel {
    display: none;
}

.notification-panel {
    padding-top: 10px;
}

.icon-set.globe-fill {
    top: 4px;
}

textarea {
    resize: none;
}

.img-uploader-preview {
    width: 130px;
    height: auto;
    border: 3px solid #fff;
    display: none;
}

.img-uploader-preview img {
    width: 100%;
    height: auto
}

#target-img {
    display: none;
}

.apply-btn {
    position: absolute;
    height: 100%;
    right: -240px;
    top: 0;
    width: 25%;
    background: #52D5BE;
    padding-top: 27px;
    cursor: pointer;
}

.apply-btn p,
.apply-btn i {
    color: #fff;
    text-align: center;
}

.email-wrapper .email-opened .email-content-wrapper {
    background-color: #f8fefe
}

.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .thumbnail-wrapper {
    width: 110px;
}

.email-wrapper .email-opened .email-content-wrapper .email-content {
    width: 90%;
    margin-top: 50px;
    background: #fff;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    border-radius: 10px;
    border: 1px solid #ECECEC;
}

.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header-box {
    margin-bottom: 45px;
}

.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-salary span {
    font-size: 16px;
    font-family: avenir_book
}

.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-desc {
    padding-right: 0
}

.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-desc p {
    font-size: 20px;
    color: #4a4a4a;
    text-transform: none;
    line-height: 30px;
}

.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header {
    height: 100%;
    position: relative
}

.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .sender {
    margin: 0;
}

.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .sender .name {
    font-size: 17px;
    line-height: 21px;
    position: relative;
    top: 9px;
    font-family: avenir_book
}

.email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .sender .datetime {
    color: #000;
    opacity: 0.9;
    font-family: avenir_book
}

.job-title {
    line-height: 29px;
    font-family: avenir_medium;
    font-size: 30px
}

.company_overview p,
.job_scope p,
.requirements p {
    line-height: 2.1;
}

.note-editable {
    height: 200px;
}

.summernote-wrapper .note-toolbar .note-style,
.summernote-wrapper .note-toolbar .note-fontname,
.summernote-wrapper .note-toolbar .note-color,
.summernote-wrapper .note-toolbar .note-height,
.summernote-wrapper .note-toolbar .note-table,
.summernote-wrapper .note-toolbar .note-view button[data-event="fullscreen"],
.summernote-wrapper .note-toolbar .note-help,
.summernote-wrapper .note-toolbar .note-insert button[data-event="showLinkDialog"],
.summernote-wrapper .note-toolbar .note-insert button[data-event="showImageDialog"],
.summernote-wrapper .note-toolbar .note-insert button[data-event="showVideoDialog"],
.summernote-wrapper .note-toolbar .note-para button[data-original-title="Paragraph"],
.summernote-wrapper .note-toolbar .note-insert button[data-event="insertHorizontalRule"],
.summernote-wrapper .note-toolbar .note-font button[data-event="subscript"],
.summernote-wrapper .note-toolbar .note-font button[data-event="superscript"],
.summernote-wrapper .note-toolbar .note-font button[data-event="strikethrough"],
.summernote-wrapper .note-toolbar .note-font button[data-event="removeFormat"] {
    display: none;
}

.responsive-search {
    color: #626262;
    font-size: 15px;
    width: 98%;
    display: none;
    margin-bottom: 11px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 5px;
    padding-left: 10px;
    margin-top: 9px;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

ul > li,
ol > li {
    padding-left: 3px;
    font-size: 13px;
    font-family: avenir_book;
    line-height: 2;
    color: #4a4a4a;
}

.cke_editable ul > li,
.cke_editable ol > li {
    font-size: 17px;
}

.table.table-hover tbody tr#applyDetail:hover td {
    background: #daeffd !important;
}

.table.table-hover tbody tr.row-details td table#appTable tbody tr:hover {
    background: #daeffd !important;
}

.table.table-condensed.table-detailed > tbody > tr.shown + tr > td {
    background: rgb(255, 255, 255)!important;
    cursor: default;
}

.table.table-condensed.table-detailed > tbody > tr.shown + tr > td .table-inline tbody tr {
    cursor: pointer;
}

#message .pgn-wrapper {
    margin-top: 60px;
}

.password2 {
    display: none;
}

.job_scope ul,
.requirements ul,
.job_scope ol,
.requirements ol {
    padding-left: 21px;
}

.company_overview,
.job_scope,
.requirements,
.job_scope li,
.requirements li {
    line-height: 2;
    font-size:17px;
}

.job_scope,
.requirements {
    margin-top: -5px;
}

#typed-cursor {
    font-size: 19px;
    color: #2E3D48;
    font-weight: 200;
}

#typed-cursor.blinking {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

.close {
    padding: 10px!important;
}

.fs-14 {
    font-size: 27px !important;
}

.nav-pills > li.active > a {
    background-color: #FAFAFA !important;
}

.nav-tabs-linetriangle ~ .tab-content {
    background: #fafafa!important
}

.cke_editable {
    min-height: 150px;
}

.cke_editable:focus {
    outline: none;
}

.jumbotron {
    background: url(../../assets/img/bg_dashboard.jpg);
    background-position: 50% 46%;
    background-repeat: no-repeat;
    background-size: cover
}

/*div.currency span.cs-placeholder {
    background: #f0f0f0
}*/

.apply-job-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-weight: bold;
    margin: 0;
    margin-top: 0!important;
    margin-right: 0!important;
    padding-top: 13px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.apply-job-btn:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.all-job-list {
    width: 15%;
    height: 100%;
    background: #f55753;
}

.notification-list2 {
    display: none!important;
}

.btn-primary {
    background-color: #52D5BE!important;
    border-color: #52D5BE!important
}

.btn-primary:hover {
    background-color: #23A68F!important;
    border-color: #23A68F!important
}

.btn-success {
    background-color: #52D5BE;
    border-color: #52D5BE;
}

.btn-success:hover {
    background-color: #0C9B8E;
    border-color: #0C9B8E
}
.text-success{color: #52D5BE!important;}
.btn-danger {
    background-color: rgb(205, 95, 100)!important;
    border-color: rgb(205, 95, 100)!important
}

.text-danger{
    color: rgb(205, 95, 100)!important;
}
/*.btn-primary{background:#12806D;border-color: #12806D}*/

.radio.radio-danger input[type=radio]:checked + label:before {
    border-color: #12806D
}

.btn-animated.apply-job-btn:before {
    line-height: 3.5;
}

.email-wrapper .email-list .item {
    height: 110px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px!important;
    padding-right: 25px!important
}


a {
    color: #12806D;
}

a:hover {
    color: #0E6052;
}

.header .notification-list {
    z-index: 1
}

#notification-center {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 18px;
}

#notification-center:hover {
    color: #2C2C2C;
}

.list-view-group-header {
    color: #E1DCDC!important;
}

.email-list-toggle {
    padding-top: 15px;
    font-size: 20px;
    color: #fff;
}

.salary {
    line-height: 18px;
}

.img-list-box {
    width: 110px;
}

.img-list {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 79px;
    max-height: 79px;
    width: auto;
    height: auto
}
.form-group-default{padding-top: 12px;}

#PostNewJob .form-group-default,#EditJob .form-group-default{background: transparent;}


.form-group-default.focused, .form-group-default.focused input {
    background-color: #fff!important;
}


.form-group label.custom-label:not(.error) {
    font-size: 23px;
    padding-bottom: 40px;
    font-weight: 400;
    color: #4a4a4a;
    text-transform: none;
}

.form-group label:not(.error) {
    font-family: avenir_book
}

.form-group-default.focused label {
    opacity: 1
}

.form-group-default label.fade {
    opacity: 1
}

.select2-container .select2-choice > .select2-chosen {
    color: #4a4a4a;
    font-weight: 100;
    font-family: avenir_book;
    font-size: 17px;
}

.select2-container .select2-choice {
    border: 0;
}

#PostNewJob .select2-container .select2-choice,
#PostNewJob input,
#EditJob input,
#EditJob .select2-container .select2-choice {
    background: transparent;

}

#PostNewJob .select2-container.select2-dropdown-open .select2-choice,
#EditJob .select2-container.select2-dropdown-open .select2-choice{
    background: #fff!important;  
    border: 1px solid rgba(0, 0, 0, 0.07);
}

#cropContainerHeader {
    width: 200px;
    height: 150px;
    position: relative;
}

.list-view-group-container {
    padding: 0
}

#searchJob,.searchJob {
    border: none;
    opacity: 1;
    color: #626262;
    font-size: 20px;
    width: 335px;
    font-family: avenir_book;
}

#searchJob{
    position: relative;
    top: -2px;
}

.pg-search{
    position: relative;
    top: -3px;
}
.searchApplicant {
    border: none;
    opacity: 1;
    color: #626262;
    font-size: 16px;
}

#no-job-post {
    display: none;
    margin-top: 10px;
}

.filter-box {
    width: 615px;
    height: 60px;
    background: #f9fafb;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 124px;
    border: 1px solid #ECECEC;
    display: none;
}

#s2id_category-filter .select2-choice {
    height: 57px;
    padding-top: 15px;
    padding-left: 23px;
    background: #f9fafb;
}

#s2id_category-filter .select2-choice .select2-arrow {
    padding-top: 12px;
}

#s2id_location-filter .select2-choice {
    height: 57px;
    padding-top: 15px;
    padding-left: 23px;
    background: #f9fafb;
}

#s2id_location-filter .select2-choice .select2-arrow {
    padding-top: 12px;
}

#s2id_jobType-filter .select2-choice {
    height: 57px;
    padding-top: 15px;
    padding-left: 23px;
    background: #f9fafb;
}

#s2id_jobType-filter .select2-choice .select2-arrow {
    padding-top: 12px;
}

.btn-clear-all {
    height: 58px;
    width: 100%;
    border-radius: 0;
    border: 0;
    border-left: 1px solid #ECECEC;
}

.drop-down {
    padding-bottom: 10px!important;
    padding-left:8px;
}

.select2-drop-mask {
    z-index: 10000!important
}

.select2-drop-active {
    z-index: 10000!important
}

.category_filter_dropdown,
.location_filter_dropdown,
.jobType_filter_dropdown {
    background: #eef0f1;
}

.category_filter_dropdown {
    width: 462px!important;
}

.location_filter_dropdown {
    width: 460px!important;
}

.jobType_filter_dropdown {
    width: 307px!important;
}

div.category_filter_dropdown ul.select2-results li.select2-result:first-child,
div.location_filter_dropdown ul.select2-results li.select2-result:first-child,
div.jobType_filter_dropdown ul.select2-results li.select2-result:first-child {
    display: none
}

div.category_filter_dropdown ul.select2-results li,
div.location_filter_dropdown ul.select2-results li,
div.jobType_filter_dropdown ul.select2-results li {
    display: inline-block;
    background: #fff;
    margin: 8px;
    border-radius: 5px;
}

div.category_filter_dropdown ul.select2-results li.select2-no-results,
div.location_filter_dropdown ul.select2-results li.select2-no-results,
div.jobType_filter_dropdown ul.select2-results li.select2-no-results {
    background: transparent;
}

div.category_filter_dropdown ul.select2-results .select2-highlighted,
div.location_filter_dropdown ul.select2-results .select2-highlighted,
div.jobType_filter_dropdown ul.select2-results .select2-highlighted {
    background: #fff
}

.job-filter-dropdown.select2-dropdown-open a {
    background: #eef0f1!important
}


.placeholder {
    font-size: 17px;
    font-family: avenir_book;
    line-height: 2;
    color: #4a4a4a;
}

span.searchJob_tag span.category_tag,
span.searchJob_tag span.location_tag,
span.searchJob_tag span.jobType_tag {
    background: #52D5BE;
    color: #fff;
    padding: 1px 13px;
    padding-right: 0px;
    font-size: 20px;
    margin: 0 5px;
    display: none;
}

span.searchJob_tag span i {
    cursor: pointer;
}


.email-wrapper .email-list .item .recipients {
    font-family: avenir_book
}

.p-l-0 {
    padding-left: 0!important
}

.p-r-0 {
    padding-right: 0!important
}

.b-0 {
    border: 0!important;
}

.div-col{padding-left: 7px!important}
.pgn-circle .alert{min-width: 338px;}

.select2-results .select2-result-label{font-size: 16px}


.currency{border-color:rgba(0,0,0,0.07);height:32px;border-radius:0px;  width: 100%;  border: 0;  font-size: 17px;}
.salaryType{border-color:rgba(0,0,0,0.07);height:32px;border:0px;  width:100%;font-size: 17px;}

.zoom-box .zoom_1,
.zoom-box .zoom_3{
    text-align: center;
}

.zoom-box .zoom_1{width:10%;}
.zoom-box .zoom_2{width:75%;}
.zoom-box .zoom_3{width:15%;font-size: 20px;position: relative;top: -5px;}

#salary-from,#salary-from-edit{border: 0;font-size: 17px;height: 35px;border-radius: 0;}
#salary-to,#salary-to-edit{border: 0;font-size: 17px;height: 35px;border-radius: 0;}

.badge-danger{background: rgb(205, 95, 100)}

@media(max-width: 568px) {
    .deletedJob-btn {
        float: none!important;
        margin-bottom: -33px;
    }
}


@media(max-width: 768px) {
    .applicant-icon {
        display: none!important;
    }
    
    .applicant-header {
        display: block!important;
        padding-left: 0!important
    }
    
    .salary-type {
        margin-top: 10px;
    }
    
    .modal.fade.slide-right .modal-dialog {
        width: auto;
    }
    
    
    .notification-panel {
        width: 100%!important;
    }
    
    .header .search-link input {
        width: 90%!important;
    }
    
    .email-wrapper .email-opened .email-content-wrapper .email-content {
        width: 100%;
        padding-top: 62px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header-box {
        margin-bottom: 20px;
    }
    
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .sender {
        margin-left: 0!important;
    }
    
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .thumbnail-wrapper {
        width: 100%!important
    }
    
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .middle {
        width: 100%!important
    }
    
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-desc {
        width: auto;
    }
    
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-salary {
        margin-top: 40px;
        margin-bottom: 15px;
        text-align: left!important;
    }
    
    .thumbnail-wrapper {
        float: left!important;
    }
    
    .company_overview p,
    .job_scope p,
    .requirements p {
        line-height: 20px;
    }
    
    .job-title-hover {
        display: none;
    }
    
    .email-wrapper .email-list .item .datetime {
        opacity: 1!important
    }
    
    ul#user-job-list li h3.cbp-nttrigger span.pull-right {
        display: none;
    }
    
    .email-wrapper .email-list .item .inline {
        width: 133px;
    }
    .modal-form{
        padding: 60px 25px;
    }

    #upload{float: left!important;}
    .div-col{padding-left: 15px!important;}
    .salary-type-box{margin-top: 50px}
}


@media(max-width: 991px) {
    .apply-job-btn {
        width: 85%
    }
    
    .responsive-search {
        display: block;
    }
    
    .email-wrapper {
        z-index: 1
    }
    
    .email-wrapper .email-opened .email-content-wrapper .actions-wrapper {
        display: block;
    }
    
    .email-wrapper .email-opened .email-content-wrapper .actions-wrapper .btn-success {
        top: 0px;
    }
    
    .email-wrapper .email-list {
        width: 100%;
    }
    
    .notification-list1 {
        display: none!important;
    }
    
    .header .notification-list2 {
        display: inline-block!important;
        border: 0;
        position: absolute;
        top: 11px;
        right: -30px;
    }
    
    .icon-set.globe-fill {
        z-index: 1
    }
    
    .post-job-bar {
        top: 30%;
    }
    
    .notification-toggle {
        left: -300px!important;
        z-index: 10000000!important
    }
    
    .notification-panel {
        width: 400px;
    }
    
    .email-wrapper .email-opened .email-content-wrapper {
        height: 100%;
    }

    .email-wrapper .email-opened .email-content-wrapper .email-content{
        border-radius: 0;
    }
    
    .email-wrapper .email-opened .email-content-wrapper .email-content .email-content-header .thumbnail-wrapper {
        left: 0
    }
    
    #btnGroupVerticalDrop1 {
        display: block!important;
    }
    
    .user-name {
        display: none;
    }
    
    .theeee {
        display: none;
    }
    
    .dropdown-user {
        margin-top: 6px!important;
        right: -17px!important;
    }
    
    .list-view-fake-header,
    .list-view-group-header {
        display: none;
    }
    
    .list-view-group-container {
        padding: 0
    }
    
    .email-wrapper .email-list .email-refresh {
        display: none;
    }
    
    .page-container {
        position: initial;
        z-index: initial
    }
    
    .filter-box {
        display: none!important;
    }
    
    .apply-btn {
        display: none;
    }

    .modal-dialog-userdashboard .panel.panel-transparent .panel-body.panel-body-custom{width: 95%}

    .category_filter_dropdown, 
    .location_filter_dropdown, 
    .jobType_filter_dropdown{
        background: #fff!important;
    }

    div.category_filter_dropdown ul.select2-results .select2-highlighted, 
    div.location_filter_dropdown ul.select2-results .select2-highlighted,
    div.jobType_filter_dropdown ul.select2-results .select2-highlighted{
          background: #f0f0f0!important;
    }

    div.category_filter_dropdown ul.select2-results li, 
    div.location_filter_dropdown ul.select2-results li, 
    div.jobType_filter_dropdown ul.select2-results li{
          display: block;
    }

    .category_filter_dropdown,.location_filter_dropdown,.jobType_filter_dropdown{width: 326px!important}

    
}

@media(max-width: 1200px) {
    .modal.fade.slide-right .modal-dialog-userdashboard {
        width: 100%!important
    }
}
.list-view-group-container li[data=active] {}
.email-wrapper .email-list .item:hover {
    background: #f7f7f7;
}
/* Accordion style */

.cbp-ntaccordion {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cbp-ntaccordion li {
    border-bottom: 1px solid #ddd;
    padding-top: 0px;
}
.cbp-ntaccordion li h5 {
    display: inline-block;
    width: 100%;
}
.cbp-ntaccordion li h5 a {
    color: #8B8585;
    padding-right: 35px;
}
.cbp-ntsubaccordion {
    list-style: none;
}
.cbp-ntaccordion .cbp-nttrigger {
    cursor: pointer;
}
.cbp-ntaccordion h3 {
    margin: 0 0 0.3em;
    padding: 0.5em 0 0.5em;
    font-size: 1.75em;
    font-weight: 300;
}
.cbp-ntaccordion h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    padding: 0.5em 0 0.5em;
    margin: 0 0 0.5em;
}
.cbp-ntaccordion h5 {
    font-size: 1.2em;
    padding: 0.5em 0 0.5em;
    margin: 0 0 0.5em;
}
.cbp-ntaccordion .cbp-ntcontent p {
    color: #888;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
    /*padding: 0.2em 0 1.5em;*/
    
    margin: 0;
}
/* Arrow icons */

.cbp-ntaccordion > li > .cbp-nttrigger:before,
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
    font-family: 'icomoon';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #ddd;
    margin-right: 0.5em;
    -webkit-font-smoothing: antialiased;
}
.cbp-ntaccordion > li > .cbp-nttrigger:before {
    font-size: 75%;
}
.cbp-ntaccordion > li > .cbp-nttrigger:before {
    content: "\36";
}
.cbp-ntaccordion > li > .cbp-nttrigger:hover:before {
    content: "\35";
    color: inherit;
}
.cbp-ntaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > li > .cbp-nttrigger:before {
    content: "\34";
    color: inherit;
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
    content: "\32";
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:hover:before {
    content: "\33";
    color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > li > .cbp-nttrigger:before {
    content: "\31";
    color: inherit;
}
/* Initial height is zero */

.cbp-ntaccordion .cbp-ntcontent {
    height: 0;
    overflow: hidden;
}
/* When open, set height to auto */

.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
    height: auto;
    margin-bottom: 10px;
}
/* Example for media query */

@media screen and (max-width: 32em) {
    .cbp-ntaccordion {
        font-size: 70%;
    }
}


/* For image processing */
.cropit-image-preview {
    cursor: all-scroll;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
      margin-left: auto;
  margin-right: auto;
}

/* Hide file input */
input.cropit-image-input {
    visibility: hidden;
}

.select-image-btn {
    cursor: pointer; 
    cursor: hand;
}
