<select class="full-width job-filter-dropdown" id="category-filter">
            <option selected="" value="all">Categories</option>

            <option value="Administrasi">
                administration (12)
            </option>

            <option value="Desain & Arsitektur">
                desaign (123)
            </option>

            <option value="Editing, Media & Informasi">
                media (1)
            </option>

            <option value="Katering">
                fnb
            </option>

            <option value="Hotel">
                tour
            </option>

            <option value="IT & Telekomunikasi">
                IT
            </option>

            <option value="Keamanan & Perlindungan Sipil">
                safety
            </option>

            <option value="Kesehatan, Kecantikan & Sosial">
                health & nature
            </option>

            <option value="Layanan Perbankan, Asuransi & Keuangan">
                banking
            </option>
            
            <option value="Layanan Sipil / Asosiasi">
                association
            </option>

            <option value="Legal">
                legal
            </option>

            <option value="Manajemen / Manajemen Eksekutif & Strategis">
                manajement
            </option>

            <option value="Pelatihan / Instruksi">
                coach
            </option>

            <option value="Pelayanan Pelanggan">
                customer service
            </option>

            <option value="Pemasaran & Periklanan">
                marketing & adv
            </option>

            <option value="Pemeliharaan">
                maintenance
            </option>

            <option value="Penelitian, Pengembangan & Ilmu Pengetahuan">
                research
            </option>

            <option value="Penjualan & Perdagangan">
                development
            </option>

            <option value="Pertanian, Kehutanan, Laut & Lingkungan">
                science
            </option>

            <option value="Produksi, Konstruksi dan Perdagangan">
                sales & trading
            </option>

            <option value="Quality Control">
                husbandry
            </option>

            <option value="Seni, Budaya & Hiburan">
                environment
            </option>

            <option value="Sumber Daya Manusia">
                forestry
            </option>

            <option value="Teknik">
                production
            </option>

            <option value="Transportasi & Logistik">
                construction
            </option>

            <option value="Produksi, Konstruksi dan Perdagangan">
                trade
            </option>

            <option value="Quality Control">
                quality control
            </option>

            <option value="Seni, Budaya & Hiburan">
                art & culture
            </option>

            <option value="Sumber Daya Manusia">
                entertainment
            </option>

            <option value="Teknik">
                human resources
            </option>

            <option value="Transportasi & Logistik">
                technical
            </option>
</select>