<select class="full-width job-dropdown" data-init-plugin="select2" id="category-edit" name="category">
    <option value="Administration">
        Administration
    </option>
    <option value="Design">
        Design
    </option>
    <option value="Media">
        Media
    </option>
    <option value="FnB">
        FnB
    </option>
    <option value="Tour">
        Tour
    </option>
    <option value="IT">
        IT
    </option>
    <option value="Safety">
        Safety
    </option>
    <option value="Health & Nature">
        Health & Nature
    </option>
    <option value="Banking">
        Banking
    </option>
    
    <option value="Association">
        Association
    </option>
    <option value="Legal">
        Legal
    </option>
    <option value="Manajement">
        Manajement
    </option>
    <option value="Coaching">
        Coaching
    </option>
    <option value="Customer Service">
        Customer Service
    </option>
    <option value="Marketing & Adv">
        Marketing & Adv
    </option>
    <option value="Maintenance">
        Maintenance
    </option>
    <option value="Research">
        Research
    </option>
    <option value="Development">
        Development
    </option>
    <option value="Science">
        Science
    </option>
    <option value="Sales & Trading">
        Sales & Trading
    </option>
    <option value="Husbandry">
        Husbandry
    </option>
    <option value="Environment">
        Environment
    </option>
    <option value="Forestry">
        Forestry
    </option>
    <option value="Production">
        Production
    </option>
    <option value="Construction">
        Construction
    </option>
    <option value="Trade">
        Trade
    </option>
    <option value="Quality Control">
        Quality Control
    </option>
    <option value="Art & Culture">
        Art & Culture
    </option>
    <option value="Entertainment">
        Entertainment
    </option>
    <option value="Human Resources">
        Human Resources
    </option>
    <option value="Technical">
        Technical
    </option>
</select>