<select class="full-width job-filter-dropdown" id="category-filter" data-init-plugin="select2" style="width: 98%;">
    <option selected="" value="all">All Categories</option>
    <option value="Administrasi">
                Administrasi
            </option>

            <option value="Desain">
                Desain & Arsitektur
            </option>

            <option value="Editing">
                Editing, Media & Informasi
            </option>

            <option value="Hotel">
                Hotel & Katering
            </option>

            <option value="IT">
                IT & Telekomunikasi
            </option>

            <option value="Keamanan">
                Keamanan & Perlindungan Sipil
            </option>

            <option value="Kesehatan">
                Kesehatan, Kecantikan & Sosial
            </option>

            <option value="Perbankan">
                Layanan Perbankan, Asuransi & Keuangan
            </option>
            
            <option value="Sipil">
                Layanan Sipil / Asosiasi
            </option>

            <option value="Legal">
                Legal
            </option>

            <option value="Manajemen">
                Manajemen / Manajemen Eksekutif & Strategis
            </option>

            <option value="Pelatihan">
                Pelatihan / Instruksi
            </option>

            <option value="Pelanggan">
                Pelayanan Pelanggan
            </option>

            <option value="Pemasaran">
                Pemasaran & Periklanan
            </option>

            <option value="Pemeliharaan">
                Pemeliharaan
            </option>

            <option value="Penelitian">
                Penelitian, Pengembangan & Ilmu Pengetahuan
            </option>

            <option value="Penjualan">
                Penjualan & Perdagangan
            </option>

            <option value="Pertanian">
                Pertanian, Kehutanan, Laut & Lingkungan
            </option>

            <option value="Produksi">
                Produksi, Konstruksi dan Perdagangan
            </option>

            <option value="Quality">
                Quality Control
            </option>

            <option value="Seni">
                Seni, Budaya & Hiburan
            </option>

            <option value="Sumber">
                Sumber Daya Manusia
            </option>

            <option value="Teknik">
                Teknik
            </option>

            <option value="Transportasi">
                Transportasi & Logistik
            </option>
</select>