<select class="full-width" data-init-plugin="select2" id="category" name="category">
    <optgroup class="optgroup" label="Akuntansi/Keuangan">
        <option value="130" class="opt-indent">Audit &amp; Pajak</option>
        <option value="135" class="opt-indent">Perbankan/Keuangan</option>
        <option value="132" class="opt-indent">Keuangan/Investasi</option>
        <option value="131" class="opt-indent">Akuntansi Umum/Pembiayaan</option>
    </optgroup>
    <optgroup class="optgroup" label="Adminstrasi/Personalia">
        <option value="133" class="opt-indent">Staf/Administrasi umum</option>
        <option value="137" class="opt-indent">Personalia</option>
        <option value="146" class="opt-indent">Sekretaris</option>
        <option value="148" class="opt-indent">Manajemen Atas</option>
    </optgroup>
    <optgroup class="optgroup" label="Seni/Media/Komunikasi">
        <option value="100" class="opt-indent">Periklanan</option>
        <option value="101" class="opt-indent">Seni/Desain Kreatif</option>
        <option value="106" class="opt-indent">Hiburan/Seni Panggung</option>
        <option value="141" class="opt-indent">Hubungan Masyarakat</option>
    </optgroup>
    <optgroup class="optgroup" label="Bangunan/Konstruksi">
        <option value="180" class="opt-indent">Arsitek/Desain Interior</option>
        <option value="184" class="opt-indent">Sipil/Konstruksi Bangunan</option>
        <option value="150" class="opt-indent">Properti/Real Estate</option>
        <option value="198" class="opt-indent">Survei Kuantitas</option>
    </optgroup>
    <optgroup class="optgroup" label="Komputer/IT">
        <option value="192" class="opt-indent">IT-Perangkat Keras</option>
        <option value="193" class="opt-indent">IT-Jaringan/Sistem/Sistem Database</option>
        <option value="191" class="opt-indent">IT-Perangkat Lunak</option>
    </optgroup>
    <optgroup class="optgroup" label="Pendidikan/Pelatihan">
        <option value="105" class="opt-indent">Pendidikan</option>
        <option value="121" class="opt-indent">Penelitian &amp; Pengembangan</option>
    </optgroup>
    <optgroup class="optgroup" label="Teknik">
        <option value="185" class="opt-indent">Teknik Kimia</option>
        <option value="187" class="opt-indent">Teknik Elektrikal</option>
        <option value="186" class="opt-indent">Teknik Elektro</option>
        <option value="189" class="opt-indent">Teknik Lingkungan</option>
        <option value="200" class="opt-indent">Teknik</option>
        <option value="195" class="opt-indent">Mekanik/Otomotif</option>
        <option value="190" class="opt-indent">Teknik Perminyakan</option>
        <option value="188" class="opt-indent">Teknik Lainnya</option>
    </optgroup>
    <optgroup class="optgroup" label="Kesehatan">
        <option value="113" class="opt-indent">Dokter/Diagnosa</option>
        <option value="112" class="opt-indent">Farmasi</option>
        <option value="111" class="opt-indent">Praktisi/Asisten Medis</option>
    </optgroup>
    <optgroup class="optgroup" label="Hotel/Restoran">
        <option value="107" class="opt-indent">Makanan/Minuman/Pelayanan Restoran</option>
        <option value="114" class="opt-indent">Hotel/Pariwisata</option>
    </optgroup>
    <optgroup class="optgroup" label="Manufaktur">
        <option value="115" class="opt-indent">Pemeliharaan</option>
        <option value="194" class="opt-indent">Manufaktur</option>
        <option value="196" class="opt-indent">Kontrol Proses</option>
        <option value="140" class="opt-indent">Pembelian/Manajemen Material</option>
        <option value="197" class="opt-indent">Penjaminan Kualitas / QA</option>
    </optgroup>
    <optgroup class="optgroup" label="Penjualan/Marketing">
        <option value="142" class="opt-indent">Penjualan - Korporasi</option>
        <option value="139" class="opt-indent">Pemasaran/Pengembangan Bisnis</option>
        <option value="149" class="opt-indent">Merchandising</option>
        <option value="145" class="opt-indent">Penjualan Ritel</option>
        <option value="143" class="opt-indent">Penjualan - Teknik/Teknikal/IT</option>
        <option value="144" class="opt-indent">Proses desain dan kontrol</option>
        <option value="151" class="opt-indent">Tele-sales/Telemarketing</option>
    </optgroup>
    <optgroup class="optgroup" label="Ilmu Pengetahuan">
        <option value="103" class="opt-indent">Aktuaria/Statistik</option>
        <option value="102" class="opt-indent">Pertanian</option>
        <option value="181" class="opt-indent">Penerbangan</option>
        <option value="182" class="opt-indent">Bioteknologi</option>
        <option value="183" class="opt-indent">Kimia</option>
        <option value="108" class="opt-indent">Teknologi Makanan/Ahli Gizi</option>
        <option value="109" class="opt-indent">Geologi/Geofisika</option>
        <option value="199" class="opt-indent">Ilmu Pengetahuan &amp; Teknologi/Lab</option>
    </optgroup>
    <optgroup class="optgroup" label="Pelayanan">
        <option value="119" class="opt-indent">Keamanan / Angkatan Bersenjata</option>
        <option value="134" class="opt-indent">Pelayanan Pelanggan</option>
        <option value="147" class="opt-indent">Logistik/Jaringan distribusi</option>
        <option value="138" class="opt-indent">Hukum / Legal</option>
        <option value="118" class="opt-indent">Perawatan Kesehatan / Kecantikan</option>
        <option value="120" class="opt-indent">Pelayanan kemasyarakatan</option>
        <option value="152" class="opt-indent">Teknikal &amp; Bantuan Pelanggan</option>
    </optgroup>
    <optgroup class="optgroup" label="Lainnya">
        <option value="110" class="opt-indent">Pekerjaan Umum</option>
        <option value="104" class="opt-indent">Jurnalis/Editor</option>
        <option value="117" class="opt-indent">Penerbitan</option>
        <option value="116" class="opt-indent">Lainnya/Kategori tidak tersedia</option>
    </optgroup>
</select>