    <select class="full-width job-filter-dropdown" id="location-filter">
            <option selected="" value="all">Locations</option>

            <option value="Bali">
                Bali
            </option>

            <option value="Jakarta">
                Jakarta
            </option>

            <option value="Surabaya">
                Surabaya
            </option>
            
    </select>