    <select class="full-width job-filter-dropdown" id="location-filter" data-init-plugin="select2" style="width: 98%;">
        <option class="all-dropdown" selected="" value="all">
            All Locations
        </option>

            <option value="Bali">
                Bali
            </option>

            <option value="Jakarta">
                Jakarta
            </option>

            <option value="Surabaya">
                Surabaya
            </option>
            
    </select>