<select class="full-width job-dropdown" id="location-edit" name="location">
    <option value="Bali">
        Bali
    </option>
    <option value="Jakarta">
        Jakarta
    </option>
    <option value="Surabaya">
        Surabaya
    </option>
</select>