<select class="full-width job-dropdown" name="location" data-init-plugin="select2" style="width: 98%;" id="create-job-location-dropdown">
    <option value="Bali" selected="">
        Bali
    </option>
    <option value="Jakarta">
        Jakarta
    </option>
    <option value="Surabaya">
        Surabaya
    </option>
</select>