<select class="full-width job-dropdown" name="location" style="width: 98%;" id="create-job-location-dropdown" data-placeholder="Choose location" required>
	<option></option>
    <option value="Bali">
        Bali
    </option>
    <option value="Jakarta">
        Jakarta
    </option>
    <option value="Surabaya">
        Surabaya
    </option>
</select>