<select class="full-width mobile-filter-dropdown" id="category-filter" data-init-plugin="select2" style="width: 98%;">
    <option selected="" value="all">All Categories</option>
            <option value="Administrasi">
                Administrasi
            </option>

            <option value="Desain & Arsitektur">
                Desain & Arsitektur
            </option>

            <option value="Editing, Media & Informasi">
                Editing, Media & Informasi
            </option>

            <option value="Hotel & Katering">
                Hotel & Katering
            </option>

            <option value="IT & Telekomunikasi">
                IT & Telekomunikasi
            </option>

            <option value="Keamanan & Perlindungan Sipil">
                Keamanan & Perlindungan Sipil
            </option>

            <option value="Kesehatan, Kecantikan & Sosial">
                Kesehatan, Kecantikan & Sosial
            </option>

            <option value="Layanan Perbankan, Asuransi & Keuangan">
                Layanan Perbankan, Asuransi & Keuangan
            </option>
            
            <option value="Layanan Sipil / Asosiasi">
                Layanan Sipil / Asosiasi
            </option>

            <option value="Legal">
                Legal
            </option>

            <option value="Manajemen / Manajemen Eksekutif & Strategis">
                Manajemen / Manajemen Eksekutif & Strategis
            </option>

            <option value="Pelatihan / Instruksi">
                Pelatihan / Instruksi
            </option>

            <option value="Pelayanan Pelanggan">
                Pelayanan Pelanggan
            </option>

            <option value="Pemasaran & Periklanan">
                Pemasaran & Periklanan
            </option>

            <option value="Pemeliharaan">
                Pemeliharaan
            </option>

            <option value="Penelitian, Pengembangan & Ilmu Pengetahuan">
                Penelitian, Pengembangan & Ilmu Pengetahuan
            </option>

            <option value="Penjualan & Perdagangan">
                Penjualan & Perdagangan
            </option>

            <option value="Pertanian, Kehutanan, Laut & Lingkungan">
                Pertanian, Kehutanan, Laut & Lingkungan
            </option>

            <option value="Produksi, Konstruksi dan Perdagangan">
                Produksi, Konstruksi dan Perdagangan
            </option>

            <option value="Quality Control">
                Quality Control
            </option>

            <option value="Seni, Budaya & Hiburan">
                Seni, Budaya & Hiburan
            </option>

            <option value="Sumber Daya Manusia">
                Sumber Daya Manusia
            </option>

            <option value="Teknik">
                Teknik
            </option>

            <option value="Transportasi & Logistik">
                Transportasi & Logistik
            </option>
</select>