<div class="containerEmail">
	<div class="images">
		<div class="jobsylogo">
			<img src="assets/img/jobsy_logo_black.png">
		</div>
		<div class="content">
			<h2>CONGRATULATION!</h2>
			<p>
				<div class="first-text">You are being invited to post your job for free at JOBSY. If you are interested, hit the button below to confirm this invitation email.</div>
				<div class="second-text" style="padding-top:10px;">You are being invited to post your job for free at JOBSY. If you are interested, hit the button below to confirm this invitation email.</div>
			</p>
			<button>CONFIRM</button>
			<!--<p>
					<span class="third-text">You are being invited to post your job for free <br>at JOBSY. If you are interested, hit the button<br> below to confirm this invitation email.</span>
					<span class="fourth-text">You are being invited to post your job for free <br>at JOBSY. If you are interested, hit the button<br> below to confirm this invitation email.</span>
			</p>-->
		</div>
		
	</div>
	<div class="footer">
		<p>@copyright 2015 Colorblind Labs Pte. Ltd</p>
	</div>
</div>