<div style="background: #52D5BE;width: 767px;padding: 40px;">
	<div style="position: relative;display: table;width: 100%;height: 600px;background: url(http://s8.postimg.org/cxwht1nab/email_template.png) no-repeat;">
		<div style="position: absolute;width: 88px;left: 640px;top: 50px;">
			<img src="http://i61.tinypic.com/1zpimm8.png" style="width:100%;height:100%;">
		</div>
		<div style="position: relative;display: table-cell;vertical-align: middle;font-family: Avenir_book;color: #717171;left: -339px;margin: auto;width: 50%;height: 50%;">
			<h2>CONGRATULATION!</h2>
			<p style="line-height: 1.6;padding-top: 5px;padding-bottom: 5px;">
				<div class="first-text">You are being invited to post your job for free at JOBSY. If you are interested, hit the button below to confirm this invitation email.</div>
				<div class="second-text" style="padding-top:10px;">You are being invited to post your job for free at JOBSY. If you are interested, hit the button below to confirm this invitation email.</div>
			</p>
			<button style="width: 100%;height: 37px;border-radius: 5px;border: 0;color: #fff;background-color: #52D5BE;font-size: 13px;cursor:pointer">CONFIRM</button>
			<!--<p style="line-height: 1.6;padding-top: 5px;padding-bottom: 5px;">
					<span class="third-text">You are being invited to post your job for free <br>at JOBSY. If you are interested, hit the button<br> below to confirm this invitation email.</span>
					<span class="fourth-text">You are being invited to post your job for free <br>at JOBSY. If you are interested, hit the button<br> below to confirm this invitation email.</span>
			</p>-->
		</div>
		
	</div>
	<div style="position: absolute;font-size: 11px;opacity: 0.4;top: 588px;left: 96px;font-family: Avenir_book;">
		<p>@copyright 2015 Colorblind Labs Pte. Ltd</p>
	</div>
</div>