<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/css/email/style.css">
</head>
<body>
	<div class="containerEmail">
		<div class="jobsylogo">
			<img src="assets/img/jobsy_logo_black.png">
		</div>
		<div class="content">
			<h2>CONGRATULATION!</h2>
			<p>You are being invited to post your job for free <br>at JOBSY. If you are interested, hit the button<br> below to confirm this invitation email.</p>
			<button>CONFIRM</button>
			<div class="footer">
				<p>@copyright 2015 Colorblind Labs Pte. Ltd</p>
			</div>
		</div>

		<div class="images">
			<img src="assets/img/email_template.png">
		</div>
	</div>
</body>
</html>