<!DOCTYPE html>
<html>
  <head>
    <% include ./partial/head_reset %>
  </head>
  <body class="fixed-header">
    <div class="register-container full-height sm-p-t-30">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle">
            <img src="../assets/img/jobsy_logo_black.png" alt="logo" data-src="../assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" width="160" style="height: auto;">
            <% if (type == 'error') { %>
              <h3 class="text-danger">
                <%= msg %>
              </h3>
              <span class="bold">
              <a href="/">Click here to go to Jobsy Homepage</a>
              </span>
            <% } else { %>
              <h3 class="text-success">
                <%= msg %>
              </h3>
              <span class="bold">
              Now we are going to create your ready-to-use account and your very first job post based on this <a href="<%= url %>" target="_blank">job post</a>. Once we've done, we will send your account password to your email. And you'll be able to sign into Jobsy.
              <br/><br/><br/>Best regards,
              <br/><br/>JOBSY&trade; team
              </span>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% include ./script/reset %>
  </body>
</html>