<!DOCTYPE html>
<html>
    <head>
        <% include ./partial/head %>
        <style type="text/css">
        body{background: #fff}
        .modal.fade.slide-right .modal-dialog-userdashboard{width: 60%;}
        .modal-backdrop.in{display: none;}
        .nav-tabs-linetriangle ~ .tab-content{background: #fafafa}
        @media (max-width: 425px){
        .btn-cons{min-width: 0!important}
        }
        @media (max-width: 991px){
        .logout-activation-btn{display: none;}
        }
        @media (max-width: 1200px){
        .modal.fade.slide-right .modal-dialog-userdashboard{width: 100%}
        }
        </style>
    </head>
    <body class="fixed-header menu-behind">
        <div class="row page-activation" style="height:100%;overflow: hidden;margin-right:0">
            <div class="col-md-5" style="height:100%;padding:0 0">
                <div style="display: table;height: 100%;width: 75%;position: relative;margin-left: auto;margin-right: auto;">
                    
                    <div style=" display: table-cell;vertical-align: middle;">
                        <img src="assets/img/jobsy_logo_black.png" style="width: 120px;">
                        <br>
                        <br>
                        <p>Thank you for signing up. Theres just a few tiny things you need to do to get started</p>
                        <br>
                        <% if (actStatus == 'inactive') { %>
                        <div class="row">
                            <div class="col-md-2 col-sm-1 col-xs-2 icon">
                                <i class="fa fa-times-circle-o fa-3x" style="color:rgb(205, 95, 100)"></i>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <h4 style="font-weight:bold"><span class="hint-text bold">Step 1:</span> <span class="text-danger">Verify your account</span></h4>
                                <span class="hint-text">Please click on the link provided in the verification email sent to you. If you have not received it, check your junk/spam folder, or <a href="#resend" class="link">click here</a> to get a new one.</span>
                            </div>
                        </div>
                        <% } else { %>
                        <div class="row">
                            <div class="col-md-2 col-sm-1 col-xs-2 icon">
                                <i class="fa fa-check-circle-o fa-3x" style="color:#52D5BE"></i>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <h4 style="font-weight:bold"><span class="hint-text bold">Step 1:</span> <span style="color:#52D5BE">Activated!</span></h4>
                                <span class="hint-text">Great! You have verified your account.</span>
                            </div>
                        </div>
                        <% } %>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-md-2 col-sm-1 col-xs-2 icon">
                                <i class="fa fa-times-circle-o fa-3x" id="step2-icon" style="color:rgb(205, 95, 100)"></i>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <h4 style="font-weight:bold"><span class="hint-text bold">Step 2:</span> <span style="color:rgb(205, 95, 100)" id="step2-text">Create your first job</span></h4>
                                <span class="hint-text" id="step2-subtext">Don't worry, it's completely FREE!</span>
                            </div>
                        </div>
                        <a href="#signout"><button class="btn btn-default btn-cons logout-activation-btn" style="position: absolute;bottom: 25px;right: 0;color:#777;z-index:10000"><i class="fa fa-power-off"></i> Logout</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 wrapper" style="padding:0 0">
                <div style="background:url(assets/img/scooter.jpg);width: 100%;height: 1000px;background-position: 80% 50%;background-size: cover;background-repeat: no-repeat;"></div>
            </div>
            <% include ./partial/wizard_post %>
        </div>
        <input type="hidden" id="user-id" value="<%= userid %>" />
        <% include ./partial/modal_cropper %>

        <!-- BEGIN VENDOR JS -->
        <% if (actStatus == 'inactive') { %>
        <% include ./script/act %>
        <% } else { %>
        <% include ./script/act2 %>
        <% } %>
        <!-- END PAGE LEVEL JS -->
    </body>
</html>