<!DOCTYPE html>
<html>
  <head>
    <% include ./partial/head_alg %>
  </head>
  <body class="fixed-header error-page  ">
    <div class="container-xs-height full-height">
      <div class="row-xs-height">
        <div class="col-xs-height col-middle">
          <div class="header-container text-center">
          </div>
          <div class="row"><!-- 1st row -->
            <div class="col-lg-12 col-md-12 col-sm-12 btn-group btn-group-default" style="margin-top:20px;">
              <center>
              <div class="btn-group">
                <button type="button" class="ajax-popup-link btn btn-default btn-block" id="users_call">
                <span class="p-t-5 p-b-5">
                  <i class="fa fa-user fs-15"></i>
                </span>
                <br>
                <span class="fs-11 font-montserrat text-uppercase">Users.Call</span>
                </button>
              </div>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-bottom sm-pull-bottom full-width">
      <div class="error-container">
        <div class="error-container-innner">
          <div class="row text-center">
            <p class="small">Powered by</p>

            <div class="col-md-6"><img alt="mandrill_logo" src="https://www.teamwork.com/blog/wp-content/uploads/2014/04/Mandrill_Logo3.png" style="max-height:70px;margin-bottom:60px;"></div>
            <div class="col-md-6"><img alt="mailchimp_logo" src="http://www.i-pos.co.uk/img/mail-chimp-logo.jpg" style="max-height:60px;margin-bottom:60px;"></div>
          </div>
        </div>
      </div>
    </div>
    <% include ./script/email %>
  </body>
</html>