<!DOCTYPE html>
<html>
  <head>
     <% include ./partial/head %>
  </head>
  <body class="fixed-header menu-behind">
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
      <!-- START HEADER -->
      <% include ./partial/header_home %>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper full-height">
        <!-- START PAGE CONTENT -->
        <div class="content full-height">
          <!-- START EMAIL -->
          <div class="email-wrapper">
            <!-- START EMAILS LIST -->
            <div class="email-list b-r b-grey" style="height: 100%;"> <a class="email-refresh" href="#"></a>
              <div id="emailList">
                <!-- START EMAIL LIST SORTED BY DATE -->
                <!-- END EMAIL LIST SORTED BY DATE -->
              </div>
            </div>
            <!-- END EMAILS LIST -->
            
            <% if (info.length > 0) { %>
              <div class="msg-container" data-type="info" style="display:none;"><%= info %></div>
            <% } else if (success.length > 0) { %>
              <div class="msg-container" data-type="success" style="display:none;"><%= success %></div>
            <% } else if (error.length > 0) { %>
              <div class="msg-container" data-type="error" style="display:none;"><%= error %></div>
            <% } %>

            <!-- START OPENED EMAIL -->
            <div class="email-opened">
              <div class="no-email">
                <h1>JOBSY&trade;</h1>
              </div>
              <div class="email-content-wrapper">
                <div class="actions-wrapper bg-master-lightest">
                  <ul class="actions no-margin p-l-20">
                    <li class="visible-sm-inline-block visible-xs-inline-block">
                      <a href="#" class="email-list-toggle"><i class="fa fa-angle-left"></i> All Job Lists</a>
                    </li>
                    <% if (user) { %> <!-- disable apply button if user logged in -->
                      <button class="btn btn-complete btn-cons" data-toggle="modal" data-target="#applyModal" id="btnToggleSlideUpSize" disabled>Apply for this job</button>
                    <% } else { %>
                      <!--<button class="btn btn-complete btn-cons"></button>-->
                      <button class="btn btn-complete btn-animated from-top fa fa-arrow-down" data-toggle="modal" data-target="#applyModal" id="btnToggleSlideUpSize"><span>Apply for this job</span></button>
                      <!--<button class="btn btn-complete btn-cons" data-toggle="modal" data-target="#applyModal" id="btnToggleSlideUpSize" disabled>Apply for this job</button>-->
                    <% } %>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="email-content">
                    <div class="row email-content-header-box">
                        <div class="col-sm-8">
                            <div class="outer email-content-header" style="height:100%;position:relative">
                                <div class="col-xs-4 col-sm-3">
                                <div class="middle" style="width: 1px;">
                                    <div class="thumbnail-wrapper d48" id="opened-thumbnail">
                                    </div>
                                </div>
                                </div>
                                <div class="col-xs-8 col-sm-9">
                                <div class="sender profile inline m-l-10">
                                  <p class="name no-margin bold" style="text-transform: uppercase;"></p>
                                  <h3 class="job-title semi-bold p-t-10" style="line-height: 30px;"></h3>
                                  <p class="datetime location no-margin"></p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="details col-sm-4 email-content-salary">
                            <h4 class="salary light p-t-10" style="line-height: 18px;">
                              <span class="salary-from"></span>
                              <br/><span class="small">s/d</span>
                              <span class="salary-to"></span>
                            </h4>
                            <p class="salary-type no-margin"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 email-content-desc">
                            <p class="bold" style="font-size:10px;line-height: 30px;color:#000">COMPANY OVERVIEW</p>
                        </div>
                        <div class="col-sm-9 company_overview">
                            <p></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3 email-content-desc">
                            <p class="bold" style="font-size:10px;color:#000">JOB SCOPE</p>
                        </div>
                        <div class="col-sm-9 job_scope">
                            <p></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3 email-content-desc">
                            <p class="bold" style="font-size:10px;color:#000">REQUIREMENTS</p>
                        </div>
                        <div class="col-sm-9 requirements">
                            <p></p>
                        </div>
                    </div>
                  <!--<div class="email-content-body m-t-20">
                    <p>Thank you for taking the time to meet with me and other representatives of the last week regarding the challenges facing public transportation, especially. We enjoyed meeting with you and . I’m glad we had the opportunity to discuss an issue that affects so many people in [city/state/community]. We especially appreciate your commitment to [describe any commitment made by the official].</p>
                    <p>The [coalition name] believes that public transportation is vital to quality of life of our community. As we discussed …</p>
                    <p>Our coalition would greatly appreciate your support in ensuring that public transportation is widely available to all who need it – especially the people living in . On behalf of all our members and the thousands of citizens they represent, I want to thank you for taking the time out of your busy schedule to discuss this important matter.</p>
                  </div>-->
                </div>
              </div>
            </div>
            <!-- END OPENED EMAIL -->
            <!-- START COMPOSE BUTTON FOR TABS -->

            <!-- END COMPOSE BUTTON -->
          </div>
          <!-- END EMAIL -->
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- MODAL STICK UP SMALL ALERT -->

    <% include ./partial/modal %>
    
    <!-- END MODAL STICK UP SMALL ALERT -->
    
    <% include ./script/home %>


  </body>
</html>