<!DOCTYPE html>
<html>
  <head>
    <% include ./partial/head_reset %>
  </head>
  <body class="fixed-header">
    <div class="register-container full-height sm-p-t-30">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle">
            <img src="../assets/img/jobsy_logo_black.png" alt="logo" data-src="../assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" width="160" style="height: auto;">
            <h3>Password Reset</h3>
            <form id="form-reset" class="p-t-15" role="form" method="POST" action="/api/account/reset/<%= user._id %>">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>New Password</label>
                    <input type="password" name="newPass" placeholder="" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Type it again</label>
                    <input type="password" name="confirmPass" placeholder="" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Show the messages in #errors_ -->
                    <div class="form-group">
                        <div>
                            <ul id="errors_reset"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <ul id="status_reset"></ul>
                        </div>
                    </div>
              </div>
              <button id="btn-submit-reset" class="btn btn-primary btn-cons m-t-10 ladda-button" data-style="expand-right" type="submit">RESET MY PASSWORD</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include ./script/reset %>
  </body>
</html>