<!-- APPLY FORM -->
<div class="job-apply">
  <form id="applyForm" class="" method="POST" enctype="multipart/form-data" autocomplete="off" role="form">
    <div class="row">
      <div class="col-md-12 header-box">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 title">
                Full Name
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1 colon">
                :
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8 input-text">
                <div class="form-group">
                  <input type="text" name="fullName" class="form-control" placeholder="ex: John Smith" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 title">
                Phone
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1 colon">
                :
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8 input-text">
                <div class="form-group">
                  <input type="text" name="phone" class="form-control" placeholder="ex: 0812 34567890" required>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 title">
                Email
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1 colon">
                :
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8 input-text">
                <div class="form-group">
                  <input type="text" name="email" class="form-control" placeholder="ex: some@example.com" required>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 title">
                Location
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1 colon">
                :
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8 input-text">
                <div class="form-group">
                  <input type="text" class="form-control" name="location" placeholder="ex: Surabaya" required>
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-3 title">
                Last Job
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1 colon">
                :
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8 input-text">
                <div class="form-group">
                  <input type="text" class="form-control" name="lastJob" placeholder="ex: Apple Inc. (2010 - 2015) as Web Developer" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-12 content-box p-l-0 p-r-0">
        <div class="form-group form-group-default">
          <textarea placeholder="Type your cover letter here (optional)" class="form-control" id="editor4" name="coverLetter" aria-invalid="false"></textarea>
        </div>
      </div>
      <div class="col-md-12 footer-box">
        <br>
        <!-- Show the messages in #errors -->
        <div class="row">
          <div>
          <ul id="errors_apply"></ul>
        </div>
      </div>
      <div class="form-group">
        <div>
        <ul id="status_apply"></ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 pull-left attachment">
        <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-paperclip attach-btn"></i></div>
          <div class="col-md-11 col-sm-11 col-xs-11"><span class="attach-btn">Please Attach a PDF Resume</span></div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <input type="file" name="resumeFile" id="resumeFile" class="form-control" required>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 pull-right button-replay">
        <div class="row" style="float: right!important;">
          <button id="btn-discard-apply" type="button" class="btn btn-default btn-animated from-top fa fa-times" ><span>Discard</span></button>
          <button id="btn-submit-apply" type="submit" class="btn btn-primary ladda-button" data-style="expand-right" data-size="s"><span class="ladda-label">Send</span></button>
        </div>
      </div>
    </div>
    
  </div>
</div>
</form>
</div>
<!-- END APPLY FORM -->