<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">
            <div class="row">
                <div class="col-lg-5 col-md-6 ">
                    <!-- START PANEL -->
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="panel-title" style="color:#fff">Job Listing Dashboard
                            </div>
                        </div>
                        <div class="panel-body">
                            <h3 style="color:#fff">3 minutes is all it takes</h3>
                            <p style="color:#fff">Aren't you tired of filling forms up, and talking to sales representative just to set up your account. We are too, and thats why we created jobsy. We want you to post your job quickly, and continue with what you were doing to grow your business.</p>
                            <br>
                            <button class="btn btn-primary btn-cons" data-target="#PostNewJob" data-toggle="modal">Post New Job</button>
                        </div>
                    </div>
                    <!-- END PANEL -->
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->