<!-- START INVITATION EMAIL MODAL -->
<div class="modal fade slide-right" id="SendInvitation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <div class="container-xs-height full-height">
          <div class="row-xs-height outer">
            <div class="updatePass-panel middle">
              <div class="panel panel-transparent" style="padding-left: 25px;padding-right: 25px;border:0">
                <div class="panel-heading">
                  <div class="panel-title">
                    <h3>Send Invitation Email</h3>
                  </div>
                </div>
                <div class="panel-body" style="height:auto">
                  <form id="form-update-pass" action="/api/account/pass" class="" method="POST" role="form">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label>Email</label>
                          <input type="email" name="email" placeholder="User's email address" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default required">
                          <label>Job Post's URL</label>
                          <input type="text" name="jobUrl" placeholder="Link to the job post" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                    <ul id="status_custom_post"></ul>
                  </div>
                  <div class="clearfix"></div>
                  <div class="clearfix"></div>
                  <div class="clearfix"></div>
                  <button class="btn btn-primary btn-cons ladda-button" data-style="expand-right" type="submit" id="btn-submit-custom-post">SEND</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END INVITATION EMAIL MODAL -->