<!-- ACCOUNT SETTINGS MODAL -->
<div class="modal fade slide-right" id="accountModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-userdashboard">
    <div class="modal-content-wrapper">
      <div class="modal-content outer" style="background: #FAFAFA;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <div class="panel panel-transparent middle">
          <div class="panel-body">
            <div class="panel-heading" style="padding:0">
              <div class="panel-title" style="text-transform: none;">
                <div class="col-sm-12" style="padding-left: 0;">
                  <img src="assets/img/jobsy_logo_black.png" alt="Jobsy" data-src="assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" style="max-width:20%; display: inline-block;">
                  <p class="bold" style="display: inline-block;padding-left: 20px;font-size: 19px;  position: relative;top: 19px;">ACCOUNT SETTINGS</p>
                  <br>
                  <p>Edit the form below to change your profile</p>
                </div>
              </div>
            </div>
            <br>
            <form id="form-account" action="/api/account/update" class="" method="POST" enctype="multipart/form-data" role="form">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label>First Name</label>
                    <input type="text" name="firstName" value="<%= user.firstName %>" class="form-control" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label>Last Names</label>
                    <input type="text" name="lastName" value="<%= user.lastName %>" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Company Name</label>
                    <input type="text" name="companyName" value="<%= user.companyName %>" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label for="password">Password:</label>
                    <a href="#pass"><span class="link">Click here to change your password</span></a>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="form-group">
                <div>
                <ul id="status_edit"></ul>
              </div>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
              <button class="btn btn-primary btn-cons ladda-button" data-style="expand-right" type="submit" id="btn-submit-account">SAVE MY CHANGES</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END ACCOUNT SETTINGS MODAL -->