<!-- START EDIT POST MODAL -->
<div class="modal fade slide-right" id="EditJob" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-userdashboard modal-dialog-custom">
    <div class="modal-content-wrapper">
      <div class="modal-content bg-modal-content outer">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
        <div class="panel panel-transparent middle">
          <div class="panel-body panel-body-custom">
            <form id="form-edit" role="form" autocomplete="off" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-12 p-l-0">
                      <div class="form-group form-group-default b-0">
                        <input type="text" name="companyName" class="form-control companyName" required style="font-family:avenir_book;color: #4a4a4a;font-size: 1.12rem;font-weight: bold;">
                      </div>
                    </div>
                    <div class="col-sm-12 p-l-0">
                      <div class="form-group form-group-default b-0">
                        <input type="text" class="form-control jobTitle" name="jobTitle" placeholder="Position Title" style="font-family:avenir_book;font-size: 36px;font-weight: 600;height:auto;color: #4a4a4a;">
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-12 p-l-0">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-3 col-xs-3 p-r-0">
                              <select name="currency" class="currency">
                                <option value="USD">USD</option>
                                <option value="IDR">IDR</option>
                              </select>
                            </div>
                            <div class="col-sm-5 col-xs-9 p-l-0">
                              <div class="input-daterange input-group">
                                <input name="salaryFrom" id="salary-from-edit" type="text" class="input-sm form-control salaryFrom"/>
                                <span class="input-group-addon" style="background:#F5F4F4;">-</span>
                                <input name="salaryTo" id="salary-to-edit" type="text" class="input-sm form-control salaryTo" />
                              </div>
                            </div>
                            <div class="col-sm-4 salary-type-box">
                              <div class="form-group salary-type">
                                <select name="salaryType" class="salaryType">
                                  <option value="Monthly">Monthly</option>
                                  <option value="Annually">Annually</option>
                                  <option value="Daily">Daily</option>
                                  <option value="Hourly">Hourly</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 text-right" style="width:190px;height:190px;">
                  <div class="logoBox_edit">
                    <!-- Company logo here -->
                  </div>
                  <input type="file" id="logo_file_edit" style="float:left; width: 250px">
                  <input id="image-source_edit" type="hidden" name="cropped_image">
                  <input id="changed" type="hidden" name="changed" value="no">
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group required">
                    <label class="drop-down custom-label">Location</label>
                    <% include ../dropdown/location_edit %>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group required">
                    <label class="drop-down custom-label">Category</label>
                    <% include ../dropdown/category_edit %>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group required">
                    <label class="drop-down custom-label">Job Type</label>
                    <select class="full-width job-dropdown jobType" name="jobType" id="jobType" data-init-plugin="select2" required>
                      <option value="Full Time">Full Time</option>
                      <option value="Contract">Contract</option>
                      <option value="Part Time">Part Time</option>
                    </select>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default b-0" style="min-height:190px;">
                    <label class="custom-label">Description</label>
                    <textarea id="editor1-edit" name="description"></textarea>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default b-0" style="min-height:190px;">
                    <label class="custom-label">Job Scope <span class="hint-text small"></label>
                    <textarea id="editor2-edit" name="jobScope"></textarea>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default b-0" style="min-height:190px;">
                    <label class="custom-label">Requirements <span class="hint-text small"></span></label>
                    <textarea id="editor3-edit" name="requirements"></textarea>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <br>
              <button class="btn btn-primary btn-cons" type="submit" style="margin-left: 10px;"><span>Save Edited</span></button>
              <div id="editWizard"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END EDIT POST MODAL -->