<div class="header ">
    <!-- START MOBILE CONTROLS -->
    <!-- LEFT SIDE -->
    <div class="pull-left full-height visible-sm visible-xs">
        
    </div>
    <!-- RIGHT SIDE -->
    <div class="pull-right full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
    </div>
    <!-- END MOBILE CONTROLS -->
    <div class="pull-left sm-table dash-profile">
        <div class="header-inner">
            <div class="brand inline pull-left">
                <a href="/">
                    <img src="assets/img/jobsy_logo_black.png" alt="logo" data-src="assets/img/jobsy_logo_black.png" data-src-retina="assets/img/jobsy_logo_black.png" width="73">
                </a>
            </div>
            <!-- START NOTIFICATION LIST -->
            <!-- END NOTIFICATIONS LIST -->
            <a href="#" class="search-link search-link-dash"><i class="pg-search"></i><input type="text" id="searchJob" placeholder="Search here" class="searchApplicant" data-list=".jobs-panel"></a>
        </div>
    </div>
    <div class=" pull-right">
        <!-- START User Menu-->
        <div class="dropdown-default theeee">
            <div class="visible-lg visible-md m-t-10" id="btnGroupVerticalDrop1" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <div class="pull-left p-r-10 p-t-10 fs-16 font-heading" style="cursor:pointer;">
                    <span class="semi-bold"><%= user.firstName.toUpperCase() %> <%= user.lastName.toUpperCase() %></span>
                </div>
                <div class="thumbnail-wrapper d32 circular inline m-t-5" style="cursor:pointer">
                    <img id="user-avatar" data-name="<%= user.firstName.charAt(0) %><%= user.lastName.charAt(0) %>" alt="" width="32" height="32" class="user-info-pict">
                </div>
                <ul class="dropdown-menu profile-dropdown pull-right m-r-20 dropdown-user" role="menu" aria-labelledby="btnGroupVerticalDrop1" style="margin-top:0;padding-top:0">
                    <li>
                        <a href="#" data-target="#PostNewJob" data-toggle="modal">
                            <span class="bold" style="color:#52D5BE">Post New Job <i class="pg-arrow_right"></i></span>
                        </a>
                    </li>
                    <% if (user.type == 'admin') { %>
                    <li>
                        <a href="#" data-target="#SendInvitation" data-toggle="modal">
                            <span class="bold" style="color:rgb(205, 95, 100);">Send Invitation Email</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-target="#CustomJobModal" data-toggle="modal">
                            <span class="bold" style="color:rgb(205, 95, 100);">Post Custom Job</span>
                        </a>
                    </li>
                    <% } %>
                    <li><a href="#" onclick="location.href='/'">Home Page</a></li>
                    <!--<li><a href="#" data-target="#billingForm" data-toggle="modal">My Credits</a></li>-->
                    <li><a href="#account">Account Settings</a></li>
                    <li class="bg-master-lighter" style="padding-bottom:0px;cursor:pointer;">
                        <a href="#signout">
                            <span class="pull-left">Sign Out</span>
                            <span class="pull-right"><i class="pg-power"></i></span>
                        </a>
                    </li>
                </ul>
                <div class="pull-right p-l-10 p-t-10 fs-16 font-heading" style="cursor:pointer">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>
        <!-- END User Menu-->
    </div>
</div>