<div class="col-md-7 wrapper" style="padding:0 0">
    <div class="modal fade slide-right" id="PostNewJob" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:2;">
        <div class="modal-dialog modal-lg modal-dialog-userdashboard">
            <div class="modal-content-wrapper">
                <div class="modal-content bg-modal-content outer">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>-->
                    <div class="panel panel-transparent middle">
                        <div class="panel-heading" style="padding-left:50px;">
                            <div class="panel-title" style="text-transform: none;">
                                <div class="col-sm-12" style="padding-left: 0;">
                                    <p class="bold">CREATE YOUR FIRST POST</p>
                                    <p>Fill the following to create your new job post. Be as detailer as possible, this ensures quality of your candidates</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-left:50px;padding-right:50px;width:100%;">
                            <div class="fuelux">
                                <div class="wizard" id="postWizard">
                                    <!-- Steps -->
                                    <ul class="steps">
                                        <li data-step="1" class="active"><i class="fa fa-building-o tab-icon"></i> <span>COMPANY PROFILE</span></li>
                                        <li data-step="2"><i class="fa fa-envelope-o tab-icon"></i> <span>JOB DETAILS</span></li>
                                    </ul>
                                    <!-- Actions -->
                                    <div class="actions">
                                        <button type="button" class="btn btn-default btn-prev"><i class="pg-arrow_left"></i> Prev</button>
                                        <button type="button" class="btn btn-default btn-next" data-last="Order">Next<i class="pg-arrow_right" style="padding-left:5px;"></i></button>
                                    </div>
                                    <!-- Content -->    
                                    <form id="postForm" role="form" autocomplete="off" method="post" enctype="multipart/form-data">
                                        <div class="step-content" style="padding: 20px 20px 10px 20px;">
                                            <!-- First tab -->
                                            <div class="step-pane active" data-step="1">
                                                <div class="row" style="padding-bottom:20px;">
                                                    <div class="col-sm-7">
                                                        <div class="form-group form-group-default">
                                                            <label>Company Name</label>
                                                            <input type="text" name="companyName" placeholder="" class="form-control" id="companyName" required>
                                                        </div>
                                                        <div class="form-group form-group-default">
                                                            <label>Location</label>
                                                            <% include ../dropdown/location_create %>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="box-cropper pull-right">
                                                            <div class="logoBox">
                                                                <img id="logo-preview" src="assets/img/logohere.png" />
                                                            </div>
                                                            <input type="file" id="logo_file" style="float:left; width: 250px">
                                                            <input id="image-source" type="hidden" name="cropped_image">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-default">
                                                            <label>Description</label>
                                                            <textarea id="editorAct1" name="description" class="description-text"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Second tab -->
                                            <div class="step-pane" data-step="2">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-default">
                                                            <label>Job Title</label>
                                                            <input type="text" class="form-control" name="jobTitle">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-group-default form-group-default-select2">
                                                            <label>Category</label>
                                                            <% include ../dropdown/category_create %>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-group-default form-group-default-select2">
                                                            <label>Job Type</label>
                                                            <select class="full-width" name="jobType" data-placeholder="Choose job type" required>
                                                                <option></option>
                                                                <option value="full-time">Full Time</option>
                                                                <option value="contract">Contract</option>
                                                                <option value="part-time">Part Time</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-default">
                                                            <label>Job Scope <span class="hint-text small"></label>
                                                            <textarea id="editorAct2" name="jobScope" placeholder="Type or copy/paste here to fill job scopes"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-default">
                                                            <label>Requirements  <span class="hint-text small"></label>
                                                            <textarea id="editorAct3" name="requirements" placeholder="Type or copy/paste here to fill requirements"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <p>Salary : </p>
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <div class="row">
                                                            <div class="col-sm-3 col-xs-3">
                                                                <select name="currency" class="currency">
                                                                    <option value="USD">USD</option>
                                                                    <option value="IDR">IDR</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-9 col-xs-9">
                                                                <div class="input-daterange input-group">
                                                                    <input name="salaryFrom" id="salary-from" type="text" placeholder="2.000.000" class="input-sm form-control"/>
                                                                    <span class="input-group-addon">to</span>
                                                                    <input name="salaryTo" id="salary-to" type="text" placeholder="4.000.000" class="input-sm form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-group salary-type">
                                                            <select name="salaryType" class="salaryType">
                                                                <option value="Monthly">Monthly</option>
                                                                <option value="Annually">Annually</option>
                                                                <option value="Daily">Daily</option>
                                                                <option value="Hourly">Hourly</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="completeModal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Complete</h4>
        </div>
        <div class="modal-body">
            <p class="text-center">The installation is completed</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Visit the website</button>
        </div>
    </div>
</div>
</div>